<app-header></app-header>
<div class="auth-container">
  <div class="auth-card">
    <h2>RESET YOUR PASSWORD</h2>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div class="input-group">
        <input type="password" formControlName="newPassword" placeholder=" " required />
        <label>New Password</label>
      </div>
      <div class="input-group">
        <input type="password" formControlName="confirmPassword" placeholder=" " required />
        <label>Confirm Password</label>
      </div>
      <button type="submit" class="cta-btn">RESET PASSWORD</button>
    </form>
  </div>

  <app-custom-snackbar
    *ngIf="showSnackbar"
    [message]="snackbarMessage"
    (close)="showSnackbar = false">
  </app-custom-snackbar>
</div>

<div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
</div>
<app-footer></app-footer>
