<footer class="site-footer">
  <div class="container">
    <p>&copy; 2025 SKYSCANNER. All Rights Reserved.</p>
    <ul class="social">
      <li><a href="https://www.facebook.com/skyscannerES/?locale=es_ES" target="_blank" rel="noopener noreferrer">FACEBOOK</a></li>
      <li><a href="https://x.com/skyscanner_es" target="_blank" rel="noopener noreferrer">X</a></li>
      <li><a href="https://www.instagram.com/skyscanner_es/?hl=es" target="_blank" rel="noopener noreferrer">INSTAGRAM</a></li>
    </ul>
  </div>
</footer>
